<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->
  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="hero">
      <div class="hero-index">
        <div class="hero-img">
          <h1>
            <a routerLink=""><img src="/assets/img/logo.png" alt="" /></a>
          </h1>
        </div>
        <div class="hero-desc">
        <div class="hero-boutique">
          <p class="khand-32">Venez découvrir notre boutique</p>
          <a class="btn-boutique" routerLink="shop">Boutique</a>
        </div>
        <div class="hero-jouer">
          <p class="khand-32">Rejoignez-nous dés maintenant</p>
          <a class="btn-jouer" routerLink="play">Jouer</a>
        </div>
      </div>
      </div>
    </section>
    <main>
      <section id="articles">
        <div class="container-article">
          <div class="desc-article">
            <h2 class="h2-black">Nos Articles</h2>
            <p class="p-black">Découvrez toute l'actualité de Utopia.</p>
            <br><br>
            <h2 *ngIf="newsList.length == 0" style="color: black; text-align: center;">Aucune news disponible.</h2>
          </div>
          <div class="cards-article" *ngIf="newsList.length > 0">
            <a class="cards1-articles" *ngFor="let news of newsList"
            routerLink="/news/{{news.id}}">
              <div class="position-cercle">
                <div class="demi-cercle">
                  <p class="khand-24">{{news.id}}</p>
                </div>
                <img src="{{news.image}}" height="225" alt="" loading="lazy" />
              </div>
              <div class="desc-cards">
                <p class="khand-24">{{news.title}}</p>
                <p class="version khand-24"></p>
                <p class="khand-24">{{news.date | date: 'dd/MM/yyyy'}}</p>
                <p class="version khand-24"></p>
                <p class="khand-24">{{news.userName}}</p>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section>
        <div class="container-launcher">
          <div class="launcher">
            <div class="etape">
              <div class="etape-1">
                <div class="cercle">
                  <p>1</p>
                </div>
                <div class="desc-etape">
                  <p>Téléchargez le launcher</p>
                  <p>
                    Vous devez posséder un compte sur notre site pour vous
                    connectez.
                  </p>
                </div>
              </div>
              <div class="etape-1">
                <div class="cercle">
                  <p>2</p>
                </div>
                <div class="desc-etape">
                  <p>Installez le launche</p>
                  <p>
                    Lorsque vous avez téléchargé le launcher, il suffit
                    d'installer celui-ci en double cliquant et en vous
                    connectant avec votre compte.
                  </p>
                </div>
              </div>
              <div class="etape-1">
                <div class="cercle">
                  <p>3</p>
                </div>
                <div class="desc-etape">
                  <p>Commencez à jouer au serveur !</p>
                  <p>
                    Cliquez sur "jouer", le jeu se lance et il ne suffit plus
                    qu'a appuyer sur "rejoindre".
                  </p>
                </div>
              </div>
            </div>
            <div class="launcher-img">
              <img src="/assets/img/launcher.png" height="" alt="" loading="lazy" />
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-chiffre">
          <div class="chiffre">
            <img
              src="/assets/img/svg/Inscription.svg"
              height="64"
              alt="64"
              loading="lazy"
            />
            <p>{{stats.register_count}}<br />JOUEURS INSCRITS</p>
          </div>
          <div class="chiffre">
            <img src="/assets/img/svg/membre.svg" height="64" alt="64" loading="lazy" />
            <p>{{stats.staff}}<br />MEMBRES DU STAFF</p>
          </div>
          <div class="chiffre">
            <img src="/assets/img/svg/visie.svg" height="64" alt="64" loading="lazy" />
            <p>{{stats.view_count}}<br />VISITEURS</p>
          </div>
        </div>
      </section>
      <section>
        <div class="container-athia">
          <div class="desc-article">
            <h2 class="h2-black">Utopia</h2>
            <p class="p-black">C'est plus qu'un serveur !</p>
          </div>
          <div class="grid-serv">
            <div class="avantage">
              <div class="rond">
                <img
                  src="/assets/img/svg/casque-de-musique 1.svg"
                  height="64"
                  width="64"
                  alt="lazy"
                />
              </div>
              <div class="avantage-desc">
                <h3>Un staff à l'écoute</h3>
                <p>
                  Cliquez sur "jouer", le jeu se lance et il ne suffit plus qu'a
                  appuyer sur "rejoindre".
                </p>
              </div>
            </div>
            <div class="avantage">
              <div class="rond">
                <img
                  src="/assets/img/svg/puzzle 1.svg"
                  height="64"
                  width="64"
                  alt="lazy"
                />
              </div>
              <div class="avantage-desc">
                <h3>Des nouveautés inédite</h3>
                <p>
                  Cliquez sur "jouer", le jeu se lance et il ne suffit plus qu'a
                  appuyer sur "rejoindre".
                </p>
              </div>
            </div>
            <div class="avantage">
              <div class="rond">
                <img
                  src="/assets/img/svg/serveur 1.svg"
                  height="64"
                  width="64"
                  alt="lazy"
                />
              </div>
              <div class="avantage-desc">
                <h3>Un serveur performant</h3>
                <p>
                  Cliquez sur "jouer", le jeu se lance et il ne suffit plus qu'a
                  appuyer sur "rejoindre".
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-boutique">
          <h2>Venez visiter notre boutique</h2>
          <a class="btn-shop" routerLink="shop">Boutique</a>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </body>
</html>
