<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="hero-vote">
      <div class="vote">
          <h1>Voter</h1>
      </div>
    </section>
    <main class="red">
      <section class="site-vote">
        <div class="container-vote">
          <h2 class="vote">Sites de votes</h2>
          <div class="carte-vote">
            <a href="#" class="rpg">
              <div class="img-vote">
              <img src="/assets/img/rpg_paradize 1.png" height="" width="" alt="" loading="lazy"/>
              </div>
              <div class="txt-vote">
                <p>Tu peux voter !</p>
                </div></a>
                <a href="#" class="rpg">
                  <div class="img-vote">
                  <img src="/assets/img/serveur_prive 1.png" height="" width="" alt="" loading="lazy"/>
                  </div>
                  <div class="txt-vote">
                    <p>Tu peux voter !</p>
                  </div></a>
                </div>
                <h2 class="">Le top 10 des meilleurs voteurs</h2>
                <div class="voteur">
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                <div class="top-voteur">
                  <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <p>#1</p>
                      <p>Hesty</p>
                    </div>
                    </div>
                  <div class="position-end">
                    <p>150 votes</p>
                  </div>
                  </div>
                </div>
                </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
    </body>
  </html>
