<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="hero-jouer">
      <div class="vote">
          <h1>Nous rejoindre</h1>
      </div>
    </section>
    <main class="red">
        <section>
         <div class="container-type">
            <div class="type-launcher">
            <div class="information-jouer">
                <h2>Sélectionner votre systéme d'exploitation</h2>
                <p>Athia est un serveur, sous launcher. Vous n'avez pas besoins de compte premium Minecraft, pour jouer. Une simple inscription sur notre site suffit.</p>
            </div>
            <div class="type-exploitation">
                <a><img src="/assets/img/svg/windows.svg" height="128" width="128" alt="windows" loading="lazy" /></a>
                <a><img src="/assets/img/svg/mac.svg" height="128" width="128" alt="mac" loading="lazy" /></a>
                <a><img src="/assets/img/svg/linux.svg" height="128" width="128" alt="linux" loading="lazy" /></a>
            </div>
        </div>
        </div>
        </section>
        <section>
            <div class="container-launcher">
              <div class="launcher">
                <div class="etape">
                  <h2>Comment nous rejoindre ?</h2>
                  <div class="etape-1">
                    <div class="cercle">
                      <p>1</p>
                    </div>
                    <div class="desc-etape">
                      <p>Téléchargez le launcher</p>
                      <p>
                        Vous devez posséder un compte sur notre site pour vous
                        connectez.
                      </p>
                    </div>
                  </div>
                  <div class="etape-1">
                    <div class="cercle">
                      <p>2</p>
                    </div>
                    <div class="desc-etape">
                      <p>Installez le launche</p>
                      <p>
                        Lorsque vous avez téléchargé le launcher, il suffit
                        d'installer celui-ci en double cliquant et en vous
                        connectant avec votre compte.
                      </p>
                    </div>
                  </div>
                  <div class="etape-1">
                    <div class="cercle">
                      <p>3</p>
                    </div>
                    <div class="desc-etape">
                      <p>Commencez à jouer au serveur !</p>
                      <p>
                        Cliquez sur "jouer", le jeu se lance et il ne suffit plus
                        qu'a appuyer sur "rejoindre".
                      </p>
                    </div>
                  </div>
                </div>
                <div class="launcher-img">
                  <img src="/assets/img/launcher.png" height="" alt="" loading="lazy" />
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="launcher-probleme">
                <div class="probleme-launcher">
                <h2>Un probléme ?</h2>
                <p>Notre équipe reste disponible sur différentes plateformes vocales/textuelles afin de vous aider!</p>
                <a href="#"><img src="/assets/img/svg/discord.svg" height="64" width="64" alt="linux" loading="lazy" /></a>
            </div>
            </div>
          </section>
    </main>
    <app-footer></app-footer>
    </body>
  </html>
