<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-nav></app-nav>
    <section id="profile">
      <div class="info-membre">
        <div class="position-cercle">
          <div class="demi-cercle-profile">
            <p class="khand-24 txt-profile">{{user.nickname}}</p>
          </div>
        </div>
          <div class="cercle-vote-profile">
            <img src="https://mc-heads.net/avatar/{{user.nickname}}" height="" width="" alt="" loading="lazy"/>
          </div>
          <div class="info-profile">
          <p class="khand-24">{{user.credit}} points</p>
          <p>{{user.email}}</p>
          </div>
          <div class="profile-btn">
          <a class="btn-profile" routerLink="/shop">Boutique</a>
          <a class="btn-profile" routerLink="/shop-player-history">Historique d'achat</a>
          <a class="btn-profile" routerLink="/logout">Déconnexion</a>
        </div>
      </div>
      <div class="modif-adresse">
        <div class="gap-profile">
        <h3>Modification adresse mail</h3>
        <p>Attention! Spécifiez une addresse existante,<br> nous l'utilisons pour vous contacter!</p>
      </div>
      <div class="form-danger" *ngIf="errorEmailMessage.length > 0">
        <p>{{errorEmailMessage}}</p>
      </div>
      <div class="form-success" *ngIf="successEmailMessage.length > 0">
        <p>{{successEmailMessage}}</p>
      </div>
      <br>
      <form [formGroup]="emailForm" class="input-profile">
      <ng-container *ngIf="emailForm.controls['old_email'].errors && emailForm.controls['old_email'].touched">
        <span class="form-danger" *ngIf="emailForm.controls['old_email'].errors['email']">Le format de votre email n'est pas bon!</span>
        <span class="form-danger" *ngIf="emailForm.controls['old_email'].errors['required']">L'email est requis!</span>
      </ng-container>
      <input
        class="style-imput"
        type="text"
        placeholder="Email actuelle"
        name="uname"
        required
        formControlName="old_email"
      />
      <ng-container *ngIf="emailForm.controls['new_email'].errors && emailForm.controls['new_email'].touched">
        <span class="form-danger" *ngIf="emailForm.controls['new_email'].errors['email']">Le format de votre nouvel email n'est pas bon!</span>
        <span class="form-danger" *ngIf="emailForm.controls['new_email'].errors['required']">Le nouvel email est requis!</span>
      </ng-container>
      <input
        class="style-imput"
        type="text"
        placeholder="Nouvelle adresse Email"
        name="psw"
        required
        formControlName="new_email"
      />
      </form>
        <a class="btn-profile-mail" (click)="updateEmail()">Modifier</a>
      </div>
      <div class="modif-mdp">
        <div class="gap-profile">
        <h3>Modification de votre mot de passe</h3>
        <p>Veuillez spécifier un mot de passe robuste,<br>Nous ne sommes pas responsable en cas de piratage!</p>
      </div>
      <div class="form-danger" *ngIf="errorPasswordMessage.length > 0">
        <p>{{errorPasswordMessage}}</p>
      </div>
      <div class="form-success" *ngIf="successPasswordMessage.length > 0">
        <p>{{successPasswordMessage}}</p>
      </div>
      <form [formGroup]="passwordForm" class="input-profile">
      <ng-container *ngIf="passwordForm.controls['old_password'].errors && passwordForm.controls['old_password'].touched">
        <span class="form-danger" *ngIf="passwordForm.controls['old_password'].errors['minlength']">Le mot de passe doit contenir au moins {{passwordForm.controls['old_password'].errors['minlength']['requiredLength']}} caractères !</span>
        <span class="form-danger" *ngIf="passwordForm.controls['old_password'].errors['maxlength']">Le mot de passe doit contenir au maximum {{passwordForm.controls['old_password'].errors['maxlength']['requiredLength']}} caractères !</span>
         <span class="form-danger" *ngIf="passwordForm.controls['old_password'].errors['pattern']">Le mot de passe doit contenir au moins une lettre majuscule, un chiffre et un caractère spécial!</span>
      </ng-container>
      <input
        class="style-imput"
        type="password"
        placeholder="Mot de passe actuel"
        name="uname"
        required
        formControlName="old_password"
      />
      <ng-container *ngIf="passwordForm.controls['new_password'].errors && passwordForm.controls['new_password'].touched">
        <span class="form-danger" *ngIf="passwordForm.controls['new_password'].errors['minlength']">Le mot de passe doit contenir au moins {{passwordForm.controls['new_password'].errors['minlength']['requiredLength']}} caractères !</span>
        <span class="form-danger" *ngIf="passwordForm.controls['new_password'].errors['maxlength']">Le mot de passe doit contenir au maximum {{passwordForm.controls['new_password'].errors['maxlength']['requiredLength']}} caractères !</span>
        <span class="form-danger" *ngIf="passwordForm.controls['new_password'].errors['pattern']">Le mot de passe doit contenir au moins une lettre majuscule, un chiffre et un caractère spécial!</span>
      </ng-container>
      <input
        class="style-imput"
        type="password"
        placeholder="Nouveau mot de passe"
        name="psw"
        required
        formControlName="new_password"
      />
    </form>
        <a class="btn-profile-mail"  (click)="updatePassword()">Modifier</a>
      </div>
      <div class="skin">
        <h3>Modification de votre skins</h3>
        <div class="form-danger" *ngIf="errorSkinMessage.length > 0">
          <p>{{errorSkinMessage}}</p>
        </div>
        <div class="form-success" *ngIf="successSkinMessage.length > 0">
          <p>{{successSkinMessage}}</p>
        </div>
        <div class="modif-skin">
        <input type="file"
        id="avatar" name="avatar"
        accept="image/png, image/jpeg"
        (change)="onFileSelected($event)"
        >
        <a (click)="onUpload()" class="btn-profile-mail">Modifier</a>
      </div>
      </div>
    </section>
    <app-footer></app-footer>
    </body>
    </html>
