<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <main class="red">
      <section>
        <div class="container-login">
          <div class="login">
            <div class="info-login">
              <h1>Connexion</h1>
              <p>Vous revoilà enfin !</p>
              <input
                class="style-imput"
                type="text"
                placeholder="Pseudonyme"
                name="uname"
                required
              />
              <input
                class="style-imput"
                type="password"
                placeholder="Enter Password"
                name="psw"
                required
              />
            </div>
            <div class="connexion-btn">
              <button class="custom-button" type="submit">Login</button>
              <a href="#"><p>Mot de passe oublié ?</p></a>
              <a href="#"><p>Pas encore de compte ?</p></a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </body>
</html>
