<!DOCTYPE html>
<html>
  <app-admin-head></app-admin-head>
  <body class="skin-blue">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a routerLink="/admin" class="logo"><b>Utopia | </b>Admin</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <app-admin-sidebar></app-admin-sidebar>
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Vote Rewards
            <small>Liste des récompenses de vote</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Créer une récompense</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form [formGroup]="formGroup" role="form">
                  <div class="box-body">
                    <div class="form-group">
                      <label >Titre</label>
                      <input formControlName="title" type="text" class="form-control" placeholder="Ne pas ...">
                    </div>
                    <div class="form-group">
                      <label >Pourcentage</label>
                      <input formControlName="percent" type="number" class="form-control" placeholder="Pourcentage">
                    </div>
                    <div class="form-group">
                      <label >Type de récompense</label>
                      <select formControlName="rewardType" style="margin-left: 20px;">
                        <option value="COMMAND">Commande</option>
                        <option value="CREDIT">Crédits</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label >Commande</label>
                      <input formControlName="command" type="text" class="form-control" placeholder="/give %player% apple 1">
                    </div>
                    <div class="form-group">
                      <label >Crédits</label>
                      <input formControlName="credit" type="number" class="form-control" placeholder="250">
                    </div>
                    <div class="form-group">
                      <label >Serveur</label>
                      <select formControlName="server" style="margin-left: 20px;">
                        <option *ngFor="let s of servers" value="{{s.id}}">{{s.title}}</option>
                      </select>
                    </div>
                    <div class="box-footer text-center">
                      <button (click)="createVoteReward()" class="btn btn-primary">Créer</button>
                    </div>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
            <div class="col-xs-6">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Récompenses de vote</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Pourcentage</th>
                        <th>Type</th>
                        <th>Récompense</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vr of voteRewards">
                        <td>{{vr.id}}</td>
                        <td>{{vr.title}}</td>
                        <td>{{vr.percent}}</td>
                        <td>{{vr.rewardType}}</td>
                        <td *ngIf="vr.rewardType == 'CREDIT'">{{vr.credit}}</td>
                        <td *ngIf="vr.rewardType == 'COMMAND'">{{vr.command}}</td>
                        <td><button class="btn btn-primary" (click)="editVoteReward(vr.id)">Modifier</button></td>
                        <td><button class="btn btn-danger" (click)="deleteVoteReward(vr.id)">X</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <app-admin-footer></app-admin-footer>
    </div><!-- ./wrapper -->
  </body>
</html>
