<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="contenu-grade">
        <div class="titre-grade">
            <img src="/assets/img/boutique-grade.png"loading="lazy" />
            <h3>Grade Empereur - 1500 pb</h3>
        </div>
        <div class="contenu-img">
            <h3>Ce grade est disponible sur le serveur Factions et contient : </h3>
            <img src="/assets/img/grade contenu test.png"loading="lazy" />
            <div class="cont-grade">
                <h4 class="mrg-24">Description :</h4>
                <p>Casque platine P2 U3</p>
                <p>Plastron platine P2 U3</p>
                <p>Pantalon platine P2 U3</p>
                <p>Bottes platine P2 U3</p>
            </div>
            <div class="">
                <h4 class="mrg-24">Commande :</h4>
                <p>10 homes</p>
                <p>/ec</p>
                <p>/craft</p>
            </div>
            <button class="btn-achete" type="button">Acheter</button>
            </div>
          </section>
      <app-footer></app-footer>
    </body>
    </html>
