<header>
      <div class="navbar">
        <div class="navbar-top">
          <div class="connecte">
            <img src="/assets/img/svg/connecte.svg" height="16" width="16" alt="" />
            <p *ngIf="stats != null && stats.connected_players != ''">{{stats.connected_players}}</p>
            <p *ngIf="stats == null || stats.connected_players.length == 0">Le serveur est actuellement hors-ligne</p>
          </div>
          <div class="connexion">
            <ng-container>
              <a *ngIf="isConnect" class="connecte" routerLink="/profile">
                <img src="/assets/img/svg/profile.svg" height="20" width="20"/>Profil</a>
              <a *ngIf="isConnect && isAdmin" class="connecte" routerLink="/admin">
                <img src="/assets/img/svg/admin.svg" height="20" width="20"/>Admin</a>
              <a *ngIf="isConnect" class="connecte" (click)="logout()"
              ><img src="/assets/img/svg/Deconnexion.svg" height="20" width="20"/>Déconnexion</a>
            </ng-container>
            <a *ngIf="!isConnect" class="connecte" routerLink="/login"
              ><img src="/assets/img/svg/Conexion.svg" />Connexion</a
            >
            <a *ngIf="!isConnect" class="connecte" routerLink="/register"
              ><img src="/assets/img/svg/Inscription.svg" />Inscription</a
            >
          </div>
        </div>
        <div class="nav">
          <input type="checkbox" id="nav-check" />
          <div class="nav-header">
            <div class="nav-title">
              <img src="/assets/img/logo.png" height="64" width="64" alt="" />
            </div>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
          <div class="nav-links">
            <ul class="nav-ul mg-bot">
              <li><a routerLink="/">Accueil</a></li>
              <li><a routerLink="/play">Jouer</a></li>
              <li><a routerLink="/vote">Voter</a></li>
            </ul>
            <div class="img-nav">
              <img
                src="/assets/img/logo.png"
                height="96"
                width="96"
                alt=""
                loading="lazy"
              />
            </div>
            <ul class="nav-ul">
              <li><a routerLink="/shop">Boutique</a></li>
              <li><a href="https://discord.gg/UGRgpGwneJ" target="_blank">Support</a></li>
              <li><a routerLink="/wiki">Wiki</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
