<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->
  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="credit">
      <div class="credit-pb">
          <div class="nombre-pb">
            <p class="khand-32">{{user.nickname}}</p>
            <p class="nombre-credit">Vous avez actuellement {{user.credit}} point</p>
          </div>
        <div class="methode-paiment">
          <h3>Choissisez votre moyen de paiment</h3>
          <div style="width: 75%;" data-dedipass="a8978e7273a1dc358a8577766e66df3e" data-dedipass-custom=""></div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
