<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-nav></app-nav>
    <section id="mentions">
        <h2>Mentions légales</h2>
        <br>
        <p> Le présent site https://utopia.fr/ est édité par EvoGames.
            <br>
            <br>
            Le Directeur de la publication est Monsieur Garandeau Grégory.
            <br>
            <br>
            Hébergeur du site : OVH.
            <br>
            <br>
            Raison ou dénomination sociale : OVH.
            </p>
    </section>
    <app-footer></app-footer>
    </body>
    </html>
