<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="hero-jouer">
        <div class="vote">
            <h1>Boutique</h1>
        </div>
      </section>
   <section id="boutique">
    <h2 class="mg-16">Boutique</h2>
    <div class="achat-boutique">
      <p>{{user.nickname}}</p>
      <a class="btn-pb" routerLink="/credit">{{user.credit}} point +</a>
    </div>
   </section>
   <section id="grade">
      <div class="categorie">
        <h3>Catégorie</h3>
        <div *ngFor="let cat of categories" >
          <a (click)="this.selectedCat = cat" class="btn-grade"><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy" class="img-grade">{{cat.title}}</a>
        </div>
      </div>
      <div class="contenu-shop" *ngIf="selectedCat">
        <ng-container *ngFor="let item of selectedCat.shopItems">
          <a routerLink="/shop-item/{{item.id}}">
          <div class="cards-boutique">
          <div class="position-cercle">
            <div class="demi-cercle">
              <p class="khand-24">{{item.price}}</p>
            </div>
            <img src="{{item.image}}"loading="lazy" />
          </div>
          <div class="desc-boutique">
            <p class="khand-24">{{item.title}}</p>
          </div>
          </div>
          </a>
        </ng-container>
      </div>
   </section>
   <app-footer></app-footer>
</body>
</html>
