<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="cgv">
        <h2 class="cgv-titre">CGU</h2>
        <br>
        <h3>PRÉAMBULE</h3>
        <br>
        <p>
          Le site utopia.fr ainsi que l'accès aux serveurs de jeu sont gratuit, sans obligation d'achat. Le site utopia.fr se réserve le droit de modifier sans préavis ou annonce les présentes conditions générales de vente qui devront être consultées avant tout achat sur le site. L'utilisateur doit être majeur ou disposer une autorisation de son responsable avant d'effectuer un achat sur le site utopia.fr
        </p>
        <br>
        <h3>DÉFINITIONS</h3>
        <br>
        <p>
          Les services appartenant à utopia.fr constituent l'ensemble des services disponibles à l'URL https://utopia.fr/ ceci comprend les sites internet, les serveurs de jeux, les forums, les serveurs vocaux, etc ...
        </p>
        <br>
        <h3>CONDITIONS D'UTILISATIONS</h3>
        <br>
        <p>
          Toute commande validée constitue une acception irrévocable des conditions générales de vente et du paiement et validera votre transaction. Les données enregistrée par EvoGame constituent la preuve de l'ensemble des transactions passées par nexion.fr et ses clients. Les données enregistrées par le système de paiement constituent la preuve des transaction financières.
        </p>
        <br>
        <h3>PAIEMENT</h3>
        <br>
        <p>
          Le paiement s'effectue en ligne par le biais des services Paypal, Dédipass, Stripe et Mollie. Les informations personnelles ainsi que les numéros de carte bancaire ne circulent jamais en clair entre le navigateur et le serveur, les données sont signées et cryptées et transmises par le protocole SSL.
        </p>
        <br>
        <h3>PRODUITS</h3>
        <br>
        <p>
          Les caractéristiques des produits et services proposés à la vente sont présentées sur notre boutique(https://utopia.fr/shop). Certains produits peuvent être vendus à vie, c'est à dire pendant la durée de vie de nos services.
        </p>
        <br>
        <h3>TARIFS</h3>
        <br>
        <p>
          Les tarifs de nos articles sont affichés sur la boutique au moment du paiements. Le site nexion.fr se réserve le droit de modifier ses prix à tout moment.
        </p>
        <br>
        <h3>MODALITÉS DE REMBOURSEMENT</h3>
        <br>
        <p>
          Le site utopia.fr livre des produits immatériels, aucun remboursement ou échange n'est possible après que les crédits aient été utilisés.
        </p>
        <br>
        <h3>DROIT DE RÉTRACTATION</h3>
        <br>
        <p>
          Par dérogation à l'article L. 121-20-2 du Code Français de la Consommation, le Client n'a plus le droit de rétractation à compter de la date et heure de fourniture de service. Il est important de noter que le service est mis en place instantanément en cas de paiement par l'un des services de paiement proposés. Par dérogation à l'article L. 121-20-1 du Code Français de la Consommation, le Client a un droit de rétractation de 7 (sept) jours si le service n'a pas encore été livré. Ce droit de rétractation s'effectue par message à l'adresse mail
        </p>
    </section>
    <app-footer></app-footer>
    </body>
    </html>
