<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="profile">
      <div class="info-membre">
        <div class="position-cercle">
          <div class="demi-cercle-profile">
            <p class="khand-24 txt-profile">Hesty</p>
          </div>
        </div>
          <div class="cercle-vote-profile">
            <img src="" height="" width="" alt="" loading="lazy"/>
          </div>
          <div class="info-profile">
          <p class="khand-24">1500 points</p>
          <p>arsefight37@gmail.com</p>
          </div>
          <div class="profile-btn">
          <a class="btn-profile" routerLink="shop">Boutique</a>
          <a class="btn-profile" routerLink="">Historique d'achat</a>
          <a class="btn-profile" routerLink="logout">Déconnexion</a>
        </div>
      </div>
      <div class="modif-adresse">
        <div class="gap-profile">
        <h3>Modification adresse mail</h3>
        <p>Attention! Spécifiez une addresse existante,<br> nous l'utilisons pour vous contacter!</p>
      </div>
      <div class="input-profile">
        <input
        class="style-imput"
        type="text"
        placeholder="Pseudonyme"
        name="uname"
        required
      />
      <input
        class="style-imput"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />
      </div>
        <a class="btn-profile-mail" href="">Modifier</a>
      </div>
      <div class="modif-mdp">
        <div class="gap-profile">
        <h3>Modification adresse mail</h3>
        <p>Attention! Spécifiez une addresse existante,<br> nous l'utilisons pour vous contacter!</p>
      </div>
      <div class="input-profile">
        <input
        class="style-imput"
        type="text"
        placeholder="Pseudonyme"
        name="uname"
        required
      />
      <input
        class="style-imput"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />
    </div>
        <a class="btn-profile-mail" href="">Modifier</a>
      </div>
      <div class="skin">
        <h3>Modification de votre skins</h3>

        <div class="modif-skin">
        <input type="file"
        id="avatar" name="avatar"
        accept="image/png, image/jpeg">
        <a class="btn-profile-mail" href="">Modifier</a>
      </div>
      </div>
    </section>
    <app-footer></app-footer>
    </body>
    </html>
