<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="hero-jouer">
        <div class="vote">
            <h1>Boutique</h1>
        </div>
      </section>
   <section id="boutique">
    <h2 class="mg-16">Boutique</h2>
    <div class="achat-boutique">
      <p>Hesty</p>
      <a class="btn-pb" href="credit.html">0 point +</a>
    </div>
   </section>
   <section id="grade">
      <div class="categorie">
        <h3>Catégorie</h3>
        <a class="btn-grade" href=""><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy" class="img-grade">Grades</a>
        <a class="btn-grade" href=""><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy">Kits</a>
        <a class="btn-grade" href=""><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy">Spawners</a>
        <a class="btn-grade" href=""><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy">Clés</a>
        <a class="btn-grade" href=""><img src="/assets/img/Icon/best-seller.png" width="32" height="32" alt="grade" loading="lazy">Passe de combat</a>
      </div>
      <div class="contenu-shop">
      <a href="grade-empereur.html">
        <div class="cards-boutique">
        <div class="position-cercle">
          <div class="demi-cercle">
            <p class="khand-24">1500</p>
          </div>
          <img src="/assets/img/boutique-grade.png"loading="lazy" />
        </div>
        <div class="desc-boutique">
          <p class="khand-24">Grade Empereur</p>
        </div>
      </div>
    </a>
    <a href="grade-empereur.html">
      <div class="cards-boutique">
      <div class="position-cercle">
        <div class="demi-cercle">
          <p class="khand-24">1500</p>
        </div>
        <img src="/assets/img/boutique-grade.png"loading="lazy" />
      </div>
      <div class="desc-boutique">
        <p class="khand-24">Grade Empereur</p>
      </div>
    </div>
  </a>
  <a href="grade-empereur.html">
    <div class="cards-boutique">
    <div class="position-cercle">
      <div class="demi-cercle">
        <p class="khand-24">1500</p>
      </div>
      <img src="/assets/img/boutique-grade.png"loading="lazy" />
    </div>
    <div class="desc-boutique">
      <p class="khand-24">Grade Empereur</p>
    </div>
  </div>
</a>
<a href="grade-empereur.html">
  <div class="cards-boutique">
  <div class="position-cercle">
    <div class="demi-cercle">
      <p class="khand-24">1500</p>
    </div>
    <img src="/assets/img/boutique-grade.png"loading="lazy" />
  </div>
  <div class="desc-boutique">
    <p class="khand-24">Grade Empereur</p>
  </div>
</div>
</a>
<a href="grade-empereur.html">
  <div class="cards-boutique">
  <div class="position-cercle">
    <div class="demi-cercle">
      <p class="khand-24">1500</p>
    </div>
    <img src="/assets/img/boutique-grade.png"loading="lazy" />
  </div>
  <div class="desc-boutique">
    <p class="khand-24">Grade Empereur</p>
  </div>
</div>
</a>
</div>
   </section>
   <app-footer></app-footer>
</body>
</html>
