 <footer>
      <div class="container-footer">
        <div class="desc-site">
          <h4>A propos</h4>
          <p>
            Utopia est un serveur PvP/Factions sous launcher crée en 2023. Venez
            découvrir dés à présents nos différentes nouveautées.
          </p>
          <img src="/assets/img/logo.png" height="64" width="64" alt="" />
        </div>
        <div class="liens-site">
          <div class="text-ul">
            <h4>Liens utiles</h4>
            <ul>
              <li><a routerLink="/play">Nous-rejoindre</a></li>
              <li><a routerLink="/shop">Boutique</a></li>
              <li><a routerLink="/mentions">Mentions légales</a></li>
              <li><a routerLink="/cgv">CGV</a></li>
              <li><a routerLink="/cgu">CGU</a></li>
            </ul>
          </div>
        </div>
        <div class="reseaux">
          <a href="#"
            ><img src="/assets/img/svg/twitter.svg" height="48" width="48" alt=""
          /></a>
          <a href="#"
            ><img src="/assets/img/svg/discord.svg" height="48" width="48" alt=""
          /></a>
          <a href="#"
            ><img src="/assets/img/svg/youtube.svg" height="48" width="48" alt=""
          /></a>
          <a href="#"
            ><img src="/assets/img/svg/tiktok.svg" height="48" width="48" alt=""
          /></a>
        </div>
      </div>
      <div class="bar-footer">
        <h3>Réalisé par Hesty - © 2022-2023 Utopia. Tous droits réservés.</h3>
      </div>
    </footer>
