<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-header></app-header>
    <section id="credit">
      <div class="credit-pb">
          <div class="nombre-pb">
            <p class="khand-32">Hesty</p>
            <p class="nombre-credit">Vous avez actuellement 0 point</p>
          </div>
        <div class="methode-paiment">
          <h3>Choissisez votre moyen de paiment</h3>
          <select name="paiment" id="paiment">
            <option value="Carte bancaire">Carte bancaire</option>
            <option value="PayPal">Paypal</option>
            <option value="Paysafecard">Paysafecard</option>
            <option value="Appel / SMS">Appel / SMS</option>
          </select>
        </div>
        <div class="nb-pb">
          <h3>Choissez le nombre de point boutique que vous voulez acheter</h3>
          <div class="choix-pb">
            <a href="#"
              ><div class="container-pb">
                <p class="khand-24">500 pb</p>
              </div></a>
            <a href="#"
              ><div class="container-pb">
                <p class="khand-24">1100 pb</p>
              </div></a>
            <a href="#"
              ><div class="container-pb">
                <p class="khand-24">2750 pb</p>
              </div></a>
            <a href="#"
              ><div class="container-pb">
                <p class="khand-24">5500 pb</p>
              </div></a>
            <a href="#"
              ><div class="container-pb">
                <p class="khand-24">11000 pb</p>
              </div></a>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
