<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-nav></app-nav>
    <section id="contenu-grade">
        <div class="titre-grade">
            <img src="{{shopItem.image}}"loading="lazy" />
            <h3>{{shopItem.title}} - {{shopItem.price}} pb</h3>
        </div>
        <div class="contenu-img">
            <h3>Ce grade est disponible sur le serveur {{shopItem.server_name}} et contient : </h3>
            <img src="{{shopItem.content_image}}"loading="lazy" />
            <div class="cont-grade">
                <h4 class="mrg-24">Description :</h4>
                <p>{{shopItem.description}}</p>
            </div>
            <button *ngIf="successMessage.length == 0 || errorMessage.length == 0" (click)="buyItem(shopItem.id)" class="btn-achete" type="button">Acheter</button>
            <div *ngIf="successMessage.length > 0" class="form-success" style="padding: 10px;">
              <h4>{{successMessage}}</h4>
              <p>redirection..</p>
            </div>
            <div *ngIf="errorMessage.length > 0" class="form-danger" style="padding: 10px;">
              <h4>{{errorMessage}}</h4>
              <p>redirection..</p>
            </div>
            </div>
          </section>
      <app-footer></app-footer>
    </body>
    </html>
