<!DOCTYPE html>
<html lang="EN">
  <!-- Mettre le code langue du site dans l'attribut lang -->

  <app-head></app-head>
  <body>
    <app-nav></app-nav>
    <section id="historique-achat">
          <h2 class="vote">Historique d'achat</h2>
          <div class="voteur">
            <div *ngFor="let st of buyHistory" class="top-voteur">
              <div class="perso-vote">
                    <div class="persos-vote">
                    <div class="cercle-vote">
                      <img src="{{st.item.content_image}}" height="" width="" alt="" loading="lazy"/>
                    </div>
                    <div class="position-start">
                      <span class="history-title">Référence:</span>
                      <span class="history-answer">{{st.id}}</span>
                      <span class="history-title">|</span>
                      <span class="history-title">Joueur:</span>
                      <span class="history-answer">{{st.user_name}}</span>
                      <span class="history-title">|</span>
                      <span class="history-title">Article:</span>
                      <span class="history-answer">{{st.item.title}}</span>
                    </div>
                    </div>
                  <div class="position-end">
                    <span class="history-title">Prix:</span>
                    <span class="history-answer">{{st.item.price}}</span>
                    <span class="history-title">crédits</span>
                  </div>
                  </div>
            </div>
          </div>
      </section>
      <app-footer></app-footer>
    </body>
    </html>
